<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    var new_audio = document.createElement("audio");
    var source = document.createElement('source');
    source.type = 'audio/mpeg';
    source.src = 'http://localhost:9900/generate?text=테스트';
    audio.appendChild(source);
</script>
</body>
</html>