<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
  <h1>Speak Like Zhang</h1>
  <p>For hackathon-seoul-2019</p>
</div>


<div class="input-group">
    <input type="text" class="form-control" id="input_text"/>
    <input type="button" class="btn btn-primary" value="입력" onclick="click_event()"/>
</div>
<div id="result" class="input-group"></div>
<script>
    function click_event() {
        var text = document.getElementById("input_text").value;
        var result = document.getElementById("result");
        var audio = document.createElement("audio");
        audio.controls = 'controls';
        audio.classList.add('form-control');
        audio.type = 'audio/mpeg';
        audio.src = `{{addr}}/generate?text=${text}`;
        result.appendChild(audio);
    }

</script>
</body>
</html>